body {
  background-color: plum !important;
}

/* ============ Home Page ============ */

#home-page {
  text-align: center;
}

/* ============ odds converter and calculator ============ */

.odds-input-container {
  display: inline-flex;
}

.type-odds-label {
  padding: 10px;
  font-weight: bold;
}

.odds-input {
  padding: 10px;
  margin-left: 10px;
  border-radius: 9px;
}

.bet-input-container {
  margin-top: 20px;
  display: inline-flex;
}

.bet-number-label {
  padding: 10px;
  font-weight: bold
}

.bet-input {
  padding: 10px;
  margin-left: 10px;
  border-radius: 9px;
}

/* ============ Navbar ============ */

.navbar {
  background-color: white;
}

.login-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 16px;
  margin: 5px;
  text-align: center;
}

/* ============ Login Modals ============ */

.credentials-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button-modal {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* ============ Leaderboards ============ */

.leaderboard-page {
  text-align: center;
  justify-content: center;
}